.content{
    padding:20px 20px 15px 20px
}


.dialogclose{
    float: right;
}

.dialogtitle{
    text-align: center;
}

.minutes{
    height: 30px;
    width: 100px;
}

.buttonadd{
    float: right;
}

.head{
    line-height: 44px;
    height: 44px;
    background-color: #7b1fa2;
    color: white;
    padding-top: 5px;
}

.btnaction{
    padding:10px;
}
